body {
    background-color: #BFD3CA;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

.title {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    font-family: 'Abril Fatface';
    font-size: 256px;
    font-weight: 400;
    text-align: right;
    
    margin: 0;
}

.title p {
    margin: 0;
}

.subtitle {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: left;

    font-family: 'Karla', sans-serif;
    font-size: 48px;
    font-weight: 200;
}

.subtitle p {
    margin: 0;
    margin-right: 8px;
}

.title-page {
    display: flex;
    flex-direction: row;

    height: 100vh;
}

.main {

}

.pannel {
    height: 200px;
}

p {

}